body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    margin: 0;
    
  }
  
  
  header {
    width: 100%;
    background-color: #fff;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .hamburger-menu {
    display: none; /* Ocultar el botón en pantallas mayores a 768px */
  }
  
  .logo{
    height: 150px;
    width: 150px;
  }
  
  /* Barra de navegacion inferior */
  nav {
    background-color: #202124;
    height: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 5px 5px 10px 0px #202124;
    padding-right: 40px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 80px;
    font-size: medium;
  }
  
  nav .inicio:hover {
    background-color: #EB1249;
  }
  nav .servicios:hover {
    background-color: #F2BB0E;
  }
  nav .nosotros:hover {
    background-color: #1083CC;
  }
  nav .contactos:hover {
    background-color: #41B93C;
  }
  
  .lista-nav {
    list-style: none;
    display: flex;
  }
  
  main {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px 0;
  }
  
  /* Banner de inicio */
  .banner-imagen{
    width: 100%;
  }
  
  /* section {
    padding: 20px;
    margin-bottom: 20px;
  } */
  
  /*----------------------- Primera seccion --------------------*/
  #uno {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#202124;
  }

  .card {
    height: 100%;
    text-align: center;
    width: 30%;
    border: solid #202124 2px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px 5px;
    background-color: #fff;

  }

  .card:hover {
    border: solid #fff 2px;
    background-color: #202124;
    color: #fff;
    transform: scale(1.1); 
    height: auto;
    z-index: 1; 

  }

  .card img {
    height: 250px;
    width: 250px;
    border-radius: 50px;
  }

  .card[name="camila"] {
    box-shadow: 10px 10px 50px #1083CC; 
  }

  .card[name="marcelo"] {
    box-shadow: 10px 10px 50px #41B93C;
  }

  .card[name="julieta"] {
    box-shadow: 10px 10px 50px #F2BB0E;
  }

  .contacto-personal{
    display: flex;
    justify-content: center;

  }

  .contacto-personal .red-social {
    height: 35px;
    width: 35px;
    margin: 0px 15px;
    border-color: #202124;
    border-width: 1px;
  }

  /* ------------------------------------------------------------------- */
  #dos {
    color: #ffffff;
    background-color: #202124;
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
  } 

  .question {
    font-size: 30px;
  }  

  .eleccion{
    display: flex;
    text-align: justify;
    font-size: medium;
    margin: 0px 10px;

  }

  
  /* ------------------------------------------------------------------- */
  
  #tres {
    color: #ffffff;
    background-color: #202124;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 

  .mision-vision-valores {
    text-align: center;

  }

  .imagen-mision, .imagen-vision, .imagen-valores {
    height: 400px;
    width: 400px;
    margin: 10px 30px;
    border-radius: 10px;
  }

  .imagen-mision:hover, .imagen-vision:hover, .imagen-valores:hover {
    transform: scale(1.1); 
    z-index: 1; 
  }
  
  
  
  /*------------------------------- Footer ----------------------------- */
  footer {
    height: 100%;
    background-color:#202124;
    color: #fff;
    text-align: center;
    display: block;
    padding: 0px 10px 0px;
    align-items: center;
  }
  
  .footer-container{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  
  .contacto{
    height: 100%;
    margin-top: 10px;
  }
  
  .red-social {
    height: 30px;
    border-radius: 50%;
    margin: 0px 15px;
    border-color: #fff;
    border-width: 1px;
    border-style: double; 
  
  }
  .red-social:hover {
    transform: scale(1.5); 
    z-index: 1; 
  }
  .footer-text {
    font-size: 0.8em;
  }
  
  /*--------------------------------------------------------------------- */
  
  
  @media (max-width: 768px) {
  
    .hamburger-menu {
      background-image: url(images/hamburguesa.png);
      background-size: cover;
      background-position: center;
      height: 30px;
      width: 50px;
      display: block; 
    }
    nav{
      display: block;
      position: relative;
    }
  
    nav li {
      display: flex;
      width: 200px;
    }
  
    nav a {
      padding: 10px 10px;
      width: 200px;
    }
    .lista-nav {
      width: 200px;
      display: none; /* Ocultar el menú en pantallas menores a 768px */
      flex-direction: column;
      background-color: #202124;
    }
    .lista-nav.show {
      padding: 0;
      display: block; /* Mostrar el menú cuando la clase 'show' está presente */
      border-style: outset;
    }
    .lista-nav li {
      padding: 10px 0;
    }
  
    main {
      width: 100%;
      align-items: center;
    }
  
    #uno {
      height: auto;
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 80%;
      margin-bottom: 10px; 
    }

    #dos {
      
    } 
    
    .question {
      
    }  
    
    .eleccion{
      display: block;
      font-size: medium;    
      align-items: center;

    }

    ul{
      padding: 0;
    }
  
    li {
      list-style: none;
    }

    section.eleccion ul hr {
      display: none;
    }

    section.eleccion ul li {
      margin-bottom: 10px; /* Ajusta el espacio entre elementos */
    }


    .imagen-mision, .imagen-vision, .imagen-valores {
      height: 300px;
      width: 300px;
      margin: 0;
    }
  
    .red-social{
      margin-right: 10px;
    }
  
  }