body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  margin: 0;
}


header {
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  display: none; /* Ocultar el botón en pantallas mayores a 768px */
}

.logo{
  height: 150px;
  width: 150px;
}

nav {
  background-color: #202124;
  height: 30px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 5px 5px 10px 0px #202124;
  padding-right: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 80px;
  font-size: medium;
}

nav .inicio:hover {
  background-color: #EB1249;
}
nav .servicios:hover {
  background-color: #F2BB0E;
}
nav .nosotros:hover {
  background-color: #1083CC;
}
nav .contactos:hover {
  background-color: #41B93C;
}

.lista-nav {
  list-style: none;
  display: flex;
}

main {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px 0;
}

/* Banner de inicio */
.banner-image{
  width: 100%;
}


/*----------------------- Primera seccion --------------------*/ 
#uno {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #202124;
  justify-content: center;
  
}

.imagen-articulo {
  height: 700px;
  width: 35%;
  border-radius: 10px;
}

.articulos-servicios {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  align-items: center;

}

article {
  height: 100%;
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #202124;
}



article:hover{
  color: #ffffff;
  background-color: #202124;
}

.contenido-articulo{
  margin: 5%;
}



/* ------------------------------------------------------------------- */

#dos {
  color: #ffffff;
  background-color: #202124;
  display: block;
  flex-direction: row;
  justify-content: center;
  text-align: center;
} 

.question {
  font-size: 30px;
}

.sintoma {
  display: flex;
  text-align: justify;
  font-size: medium;
  margin: 20px;
}

/* ------------------------------------------------------------------- */
#tres {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #202124;
  justify-content: center;
  margin-bottom: 20px;
} 

.imagen-reclutamiento{
  height: 500px;
  width: 50%;
  border-radius: 10px;
}

/* ------------------------------------------------------------------- */

#cuatro {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #202124;
  justify-content: center;
} 



/*------------------------------- Footer ----------------------------- */
footer {
  height: 100%;
  background-color:#202124;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0px 10px 0px;
  align-items: center;
}

.footer-container{
  height: 40px;
  display: flex;
  /* padding: 0; */
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.contacto{
  height: 100%;
  margin-top: 10px;
}

.red-social {
  height: 30px;
  border-radius: 50%;
  margin: 0px 15px;
  border-color: #fff;
  border-width: 1px;
  border-style: double; 

}
.red-social:hover {
  transform: scale(1.5); 
  z-index: 1; 
}
.footer-text {
  font-size: 0.8em;
}


/*--------------------------------------------------------------------- */


@media (max-width: 768px) {

  .hamburger-menu {
    background-image: url(images/hamburguesa.png);
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 50px;
    display: block; 
  }
  nav{
    display: block;
    position: relative;
  }

  nav li {
    display: flex;
    width: 200px;
  }

  nav a {
    padding: 10px 10px;
    width: 200px;
  }
  .lista-nav {
    width: 200px;
    display: none; /* Ocultar el menú en pantallas menores a 768px */
    flex-direction: column;
    background-color: #202124;
  }
  .lista-nav.show {
    padding: 0;
    display: block; /* Mostrar el menú cuando la clase 'show' está presente */
    border-style: outset;
  }
  .lista-nav li {
    padding: 10px 0;
  }

  main {
    width: 100%;
    align-items: center;
  }

  #uno {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .imagen-articulo{
    width: 100%;
  }

  #tres {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .imagen-reclutamiento{
    height: 300px;
    width: 100%;
  }

  .article {
    margin: 10px 0;
    width: 90%;
  }

  .articulos-servicios {
    flex-direction: column;

  }

  .sintoma {
    display: block;
    font-size: medium;    
    align-items: center;
  }
  ul{
    padding: 0;
  }

  li {
    list-style: none;
  }

  section.sintoma ul hr {
      display: none;
    }

    section.sintoma ul li {
      margin-bottom: 10px; /* Ajusta el espacio entre elementos */
    }

  .red-social{
    margin-right: 10px;
  }


}








  

  

  