body {
  font-family: Arial, sans-serif;
  margin: 0;
}


header {
  background-color: #320B3B;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Barra de navegacion inferior */
nav {
  background-color: #75228A;
  text-align: center;
  padding: 10px;
  
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #320B3B;
}

/* Estilos de contenido */
.container {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px 0;
}

/* Banner de inicio */
.imagen-inicio{
  width: 100%;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

/*----------------------- Primera seccion --------------------*/
#uno {
  background-color: #F2F2F2;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

/* Primera hoja */
.uno-a {
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #320B3B;

}

.uno-a:hover {
  color: #ffffff;
  background-color: #320B3B;
  
}

/* Texto de bienvenida */
.texto-uno-a{
  margin: 5%;
}

.uno-b {
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #320B3B;
}
.uno-b:hover {
  color: #ffffff;
  background-color: #320B3B;
}
/* ------------------------------------------------------------------- */

/*------------------------------- Footer ----------------------------- */
footer {
  background-color:#320B3B;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100%;
}


.footer-container {
  display: flex;
  justify-content: space-between;
}


.social-media{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  /* justify-content: center; Centra verticalmente */

}
.contacto {
  margin-top: 50px;
  display: flex;
  width: 30%;
  text-align: center; /* Para centrar horizontalmente el contenido */

}

/* Mapa de Google */
.mapa{
  width: 300px; 
  height: 150px; 
  border-color: white;
  border-width: 2px;
  border-radius: 5%;
  border-style: outset;
}

/* Imagenes de las redes */
.red-social {
  height: 60px;
  background-color: #A080FD;
  border-radius: 25%;
}
.red-social:hover {
  transform: scale(1.5); 
  z-index: 1; 
}

/* Pie de pagina */
.footer-text {
  font-size: 0.8em;
}

/* Contenedor del boton del Footer */
.footer-bottom {
  height: 100%;
  width: 100%;
  text-align: end;

}

.contact-info, .social-media {
  flex: 1;
}

/* Boton del Footer */
.boton-scroll {
  background-color: #320B3B;
  color: #fff;
  width: 50px;
  height: 100%;
  border-color: #ffffff;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 15%;
}

/* Imagen del boton del Footer */
.imagen-flecha{
  height: 20px;
  width: 15px;
  align-items: baseline;
}
/*--------------------------------------------------------------------- */


@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  #uno {
    height: auto;
    flex-direction: column;
    align-items: center;

  }

  .uno-a {
    margin: 10px 0;
    width: 90%;
  }

  .uno-b {
    margin-left: 10px 0;
    width: 90%;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-info, .social-media {
    margin-bottom: 0;
    width: 100%;
  }

  .contacto {
    margin-left: 20px;
    width: 100%;
    /* padding-left: 25%; */
  }

  .red-social{
    height: 50px;
  }

  hr {
    margin: 0;
  }

  
}

  

  

  