body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  margin: 0;
}


header {
  background-color: #5D2546;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo{
  height: 200px;
  width: 200px;
}

/* Barra de navegacion inferior */
nav {
  background-color: #963564;
  height: 30px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 5px 5px 10px 0px #000000;
  padding-right: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 100px;
  font-size: large;

}

nav a:hover {
  background-color: #5D2546;
}

.nav {
  list-style: none;
  display: flex;
}

main {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px 0;
}

/* Banner de inicio */
.banner-image{
  width: 100%;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

/*----------------------- Primera seccion --------------------*/
#one {
  background-color: #F2F2F2;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

/* Primera hoja */

article {
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #5D2546;

}

article:hover{
  color: #ffffff;
  background-color: #5D2546;
  
}


/* Texto de bienvenida */
.article-content{
  margin: 5%;
}

/* ------------------------------------------------------------------- */

#two {
  color: #ffffff;
  background-color: #5D2546;
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

.client {
  font-size: large;
  display: block;
  text-align: center;
}

.client-image {
  height: 100px;
  width: 100px;
  background-color: #963564;
  border-radius: 50%;
  margin-right: 30px;
  border-color: #fff;
  border-width: 10px;
  border-style: double;  /*double, inset, outset */
}

.client-image:hover {
  transform: scale(1.5); 
  z-index: 1; 
}


/*------------------------------- Footer ----------------------------- */
footer {
  height: 100%;
  background-color:#5D2546;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0px 10px 0px;
  align-items: center;
}

.footer-container{
  height: 40px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.contact{
  height: 20px;
  display: flex;
  margin-top: 10px;
  padding: 0px;
  
}

.red-social {
  height: 30px;
  background-color: #963564;
  border-radius: 50%;
  margin-right: 30px;
  border-color: #fff;
  border-width: 2px;
  border-style: double; 

}
.red-social:hover {
  transform: scale(1.5); 
  z-index: 1; 
}
.footer-text {
  font-size: 0.8em;
}

/*---------------------------Formulario----------------------------*/
/* form {
  width: 75%;
  display: block;
  background-color: aqua;
  padding-left: 5px;
} 

input {
  font-family: 'Poppins';
  height: 30px;
  width: 250px;
  margin-top: 10px;
  background-color: #C671C8;
  color: white;
  border: solid;
  border-color: #C671C8;
  border-radius: 10px;
} 

input::placeholder {
  color: white;
}  

textarea {
  font-family: 'Poppins';
  font-size: medium;
  height: 120px;
  width: 350px;
  background-color: #C671C8;
  color: white;
  margin-top: 10px;
  border-color: #C671C8;
  border-radius: 10px;
}

textarea::placeholder {
  color: white;
}   */

/* button {
  height: 40px;
  width: 80px;
  margin-top: 10px;
  background-color: #C671C8;
  color: white;
  border: solid;
  border-color: #C671C8;
  border-radius: 10px;
} */

/*------------------------------------------------------------------*/


/*--------------------------------------------------------------------- */


@media (max-width: 768px) {
  main {
    width: 100%;
  }

  #one {
    height: auto;
    flex-direction: column;
    align-items: center;

  }

  .article {
    margin: 10px 0;
    width: 90%;
  }

}

  

  

  