/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 0; */
}

/* Estilos de encabezado */
header {
  background-color: #320B3B;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos de navegación */
nav {
  background-color: #75228A;
  text-align: center;
  padding: 10px;
  
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #320B3B;
}

/* Estilos de contenido */
.container {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 20px 0;
}

.imagen-inicio{
  width: 100%;
}

#uno {
  background-color: #F2F2F2;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

.uno-a {
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px #320B3B;
}
.uno-a:hover {
  color: #ffffff;
  background-color: #320B3B;
  
}

.uno-b {
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px #320B3B;
}
.uno-b:hover {
  color: #ffffff;
  background-color: #320B3B;
}

/* Estilos de pie de página */
footer {
  background-color:#320B3B;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100%;
}


/* Estilos de sección */
section {
  padding: 20px;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.social-media{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  /* justify-content: center; Centra verticalmente */

}
.contacto {
  /* margin-top: 5%; */
  display: flex;
  width: 30%;
  text-align: center; /* Para centrar horizontalmente el contenido */

}
.red-social {
  height: 60px;
  background-color: #A080FD;
  border-radius: 10px;
  border-radius: 50%;
}

.red-social:hover {
  transform: scale(1.5); 
  z-index: 1; 
}

.footer-bottom {
  font-size: 0.8em;
}

.contact-info, .social-media {
  flex: 1;
}

.boton-scroll {
  margin-top: 50px;
  background-color: black;
  color: #fff;
  width: 100px;
  height: 25px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  #uno {
    height: auto;
    flex-direction: column;
    align-items: center;

  }

  .uno-a {
    margin: 10px 0;
    width: 90%;
  }

  .uno-b {
    margin-left: 10px 0;
    width: 90%;
  }


  
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-info, .social-media {
    margin-bottom: 0;
    width: 100%;
  }

  .contacto {
    /* margin-top: 5%; */
    width: 100%;
    /* padding-left: 25%; */
  }

  hr {
    margin: 0;
  }

  
}

  

  

  