body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
  margin: 0;
}

* {
  /* border: 1px solid magenta */
}

header {
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  display: none;
}

.logo {
  height: 150px;
  width: 150px;
}

nav {
  background-color: #3c3c3c;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px 0px #202124;
  padding-right: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 80px;
  font-size: medium;
}

nav .inicio:hover {
  background-color: #eb1249;
  border-radius: 30px;
}

nav .servicios:hover {
  background-color: #f2bb0e;
  border-radius: 30px;
}

nav .nosotros:hover {
  background-color: #1083cc;
  border-radius: 30px;
}

nav .contactos:hover {
  background-color: #41b93c;
  border-radius: 30px;
}

.lista-nav {
  list-style: none;
  display: flex;
}

.lista-nav li {
  transition: transform 0.3s ease-in-out;
}

main {
  width: 90%;
  height: 100%;
  margin: auto;
}

.banner-imagen {
  width: 100%;
}

/*----------------------------------------------------------------- */
#uno {
  background-color: #dcdcdc;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  color: #202124;
  padding: 0px 40px;
}

.card {
  height: 100%;
  text-align: center;
  width: 30%;
  border-radius: 50px;
  padding: 2px;
  margin: 10px 5px;
  background-color: #fff;
  box-shadow: 0px 10px 50px #202124;
}

.card img {
  height: 250px;
  width: 250px;
  border-radius: 50px;
}

.card p {
  margin: 10px 20px;
  text-align: justify;
}

.contacto-personal {
  display: flex;
  justify-content: center;
}

.contacto-personal .redes li:nth-child(3) a:before {
  background: #0077b5;
}



/*----------------------------------------------------------------- */
#dos {
  color: #ffffff;
  background-color: #3c3c3c;
  display: block;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.question {
  font-size: 30px;
}

.eleccion {
  display: flex;
  text-align: justify;
  margin: 0px 10px;
}

.eleccion ul {
  padding: 0px 10px;
}

.eleccion li {
  list-style: none;
}

/*----------------------------------------------------------------- */

#tres {
  color: #ffffff;
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mision {
  display: flex;
  flex-direction: row;
}

.vision {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: #202124;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 0px #202124;
  margin-top: 5px;
}

.valores {
  display: flex;
  flex-direction: row;
}

.imagen-mision,
.imagen-vision,
.imagen-valores {
  height: 300px;
  width: 300px;
  margin: 10px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #202124;
}

.imagen-mision:hover,
.imagen-vision:hover,
.imagen-valores:hover {
  transform: scale(1.1);
  z-index: 1;
}

.texto-mision {
  display: flex;
  align-items: center;
}
p.texto-vision {
  margin: 15px;
  
}
.texto-valores {
  display: flex;
  align-items: center;
}

.contenedor-vision {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

/*----------------------------------------------------------------- */
footer {
  height: 100%;
  background-color: #3c3c3c;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0px 10px 0px;
  align-items: center;
}

.footer-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.contacto {
  display: flex;
  height: 100%;
  align-items: center;

}

.contacto .redes li a {
  background-color: #3c3c3c;
  width: 35px;
  height: 35px;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
}

.redes {
  display: flex;
  padding-right: 45px;
}

.redes li {
  list-style: none;
}

.redes li a {
  background-color: #202124;
  width: 45px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}

.redes li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
}

.redes li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.redes li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
}

.redes li a:hover:before {
  top: 0;
}

.redes li:nth-child(1) a:before {
  background: #41b93c;
}

.redes li:nth-child(2) a:before {
  background: #eedc55;
}

.redes li:nth-child(3) a:before {
  background: violet;
}

.redes li:nth-child(4) a:before {
  background: #0077b5;
}

.redes li:nth-child(5) a:before {
  background: #eb1249;
}



.footer-text {
  font-size: 0.8em;
}

@media (max-width: 1024px) {
  nav {
    padding-right: 20px;
  }

  nav a {
    padding: 10px 40px;
  }

  .consejo-imagen {
    height: 250px;
    width: 250px;
    margin: 0px 15px;
  }

  header {
    padding: 10px 0;
  }

  .lista-nav {
    padding-top: 10px;
  }
}

/*----------------------------------------------------------------- */
@media (max-width: 768px) {
  .hamburger-menu {
    background-image: url(../src/img/hamburguesa.png);
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 50px;
    display: block;
  }

  nav {
    display: block;
    position: relative;
  }

  nav li {
    display: flex;
    width: 200px;
  }

  nav a {
    padding: 10px 10px;
    width: 200px;
  }

  .lista-nav {
    width: 200px;
    display: none;
    flex-direction: column;
    background-color: #202124;
  }

  .lista-nav.show {
    padding: 0;
    display: block;
    border-style: outset;
  }

  .lista-nav li {
    padding: 10px 0;
  }

  main {
    width: 100%;
    align-items: center;
  }

  #uno {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .redes {
    padding-right: 0px;
  }

  .contacto-personal ul {
    padding: 0;
  }


  #dos {
    padding: 10px 0px;
  }

  .question {}

  .eleccion {
    display: block;
    align-items: center;
  }

  .eleccion ul {
    padding: 0;
  }

  .contacto ul {
    padding: 0;
  }

  .eleccion li {
    list-style: none;
  }

  section.eleccion ul hr {
    display: none;
  }

  section.eleccion ul li {
    margin-bottom: 10px;
  }

  .mision {
    flex-direction: column;
    align-items: center;
  }
  
  .vision {
    flex-direction: column;
    align-items: center;
  }

  .vision ul {
    padding: 0px 25px;
  }
  
  .valores {
    flex-direction: column;
    align-items: center;
  }

  .imagen-mision,
  .imagen-vision,
  .imagen-valores {
    height: 300px;
    width: 300px;
    margin: 0;
  }

  .red-social {
    margin-right: 10px;
  }
}