body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  margin: 0;
  align-items: center;
  width: 100%;
  
}


header {
  width: 100%;
  background-color: #fff;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  display: none; 
}

.logo{
  height: 150px;
  width: 150px;
}

nav {
  background-color: #202124;
  height: 30px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 5px 5px 10px 0px #202124;
  padding-right: 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 80px;
  font-size: medium;
}

nav .inicio:hover {
  background-color: #EB1249;
}
nav .servicios:hover {
  background-color: #F2BB0E;
}
nav .nosotros:hover {
  background-color: #1083CC;
}
nav .contactos:hover {
  background-color: #41B93C;
}

.lista-nav {
  list-style: none;
  display: flex;
}

.lista-nav li {
  transition: transform 0.3s ease-in-out;
}

main {
  width: 90%;
  height: 100%;
  margin: auto;
}

.banner-imagen{
  margin-top: 10px;
  width: 100%;
  
}


/*----------------------- Primera seccion --------------------*/
#uno {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #dcdcdc;
  color: #202124;
}
article {
  padding: 10px 5px;
  margin: 20px;
  box-shadow: 5px 5px 15px 5px #202124;
  background-color: #fff;
}
article:hover{
  color: #ffffff;
  background-color: #202124; 
}
.contenido-articulo{
  margin: 5%;
}

/* ------------------------------------------------------------------- */
#dos {
  color: #ffffff;
  background-color: #202124;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
} 

.consejos {
  align-items: center;
  text-align: center;
  margin: 10px;
}

.consejo-imagen {
  height: 400px;
  width: 400px;
  margin: 0px 30px;
  border-radius: 10px;
}

.consejo-imagen:hover {
  transform: scale(1.1); 
  z-index: 1; 
}

/* ------------------------------------------------------------------- */

#tres {
  color: #ffffff;
  background-color: #202124;
  display: block;
  flex-direction: row;
  justify-content: center;
} 

.blog{
  display: flex;
  
}

.card {
  height: 100%;
  text-align: center;
  width: 30%;
  border: solid #202124 2px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px 5px;
  background-color: #fff;

}

.card:hover {
  border: solid #fff 2px;
  background-color: #202124;
  color: #fff;
  transform: scale(1.1); 
  height: auto;
  z-index: 1; 

}

.card img {
  height: 250px;
  width: 250px;
  border-radius: 50px;
}

.card[name="uno"] {
  box-shadow: 10px 10px 50px #1083CC; 
}

.card[name="dos"] {
  box-shadow: 10px 10px 50px #41B93C;
}

.card[name="tres"] {
  box-shadow: 10px 10px 50px #F2BB0E;
}

.card[name="cuatro"] {
  box-shadow: 10px 10px 50px #1083CC; 
}

.card[name="cinco"] {
  box-shadow: 10px 10px 50px #41B93C;
}

.card[name="seis"] {
  box-shadow: 10px 10px 50px #F2BB0E;
}


/*------------------------------- Footer ----------------------------- */
footer {
  height: 100%;
  background-color:#202124;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0px 10px 0px;
  align-items: center;
}

.footer-container{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.contacto{
  height: 100%;
  margin-top: 10px;
}

.red-social {
  height: 30px;
  border-radius: 50%;
  margin: 0px 15px;
  border-color: #fff;
  border-width: 1px;
  border-style: double; 

}
.red-social:hover {
  transform: scale(1.5); 
  z-index: 1; 
}
.footer-text {
  font-size: 0.8em;
}



/* Estilos para tablet */
@media (max-width: 1024px) {
  nav {
    padding-right: 20px; /* Ajusta el espaciado del menú de navegación */
  }

  nav a {
    padding: 10px 40px; /* Ajusta el espaciado de los enlaces del menú de navegación */
  }

  .consejo-imagen {
    height: 250px;
    width: 250px; /* Ajusta el tamaño de las imágenes de consejos */
    margin: 0px 15px; /* Ajusta el margen de las imágenes de consejos */
  }

  /* Añade aquí los estilos adicionales para tablet */

  header {
    padding: 10px 0; /* Ajusta el espacio entre el logo y el menú de navegación */
  }

  .lista-nav {
    padding-top: 10px; /* Ajusta el espacio entre el menú de navegación y los enlaces */
  }
}



/* Estilos para celular */
@media (max-width: 768px) {

  .hamburger-menu {
    background-image: url(../src/img/hamburguesa.png);
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 50px;
    display: block; 
  }
  nav{
    display: block;
    position: relative;
  }

  nav li {
    display: flex;
    width: 200px;
  }

  nav a {
    padding: 10px 10px;
    width: 200px;
  }
  .lista-nav {
    width: 200px;
    display: none;
    flex-direction: column;
    background-color: #202124;
  }
  .lista-nav.show {
    padding: 0;
    display: block;
    border-style: outset;
  }
  .lista-nav li {
    padding: 10px 0;
  }

  main {
    width: 100%;
    align-items: center;
  }

  #uno {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .article {
    margin: 10px 0;
    width: 90%;
  }

  .cliente-imagen {
    margin: 0px 50px;
  }

  #dos{
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  
  .consejos {
    display: block;
    text-align: center;
  }

  .consejo-imagen {
    height: 300px;
    width: 300px;
    margin: 0px 15px;
  }

  #tres {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .red-social{
    margin-right: 10px;
  }

}

  

  

  