body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
  margin: 0;
  align-items: center;
  width: 100%;
  background-image: url(../src/img/fondo.png);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  background-attachment: fixed; /* Fija la imagen de fondo */
}

html {
  scroll-behavior: smooth;
}

.divisor-pagina {
  font-size: 50px;
  font-family: "Arial";
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.divisor-pagina:hover {
  transform: scale(1.5);
}

* {
  /* border: 1px solid magenta */
}

header {
  width: 100%;
  color: #fff;
  background: linear-gradient(to bottom, #202124, #3c3c3c, #ffffff);
  text-align: center;
  align-items: center;
  justify-content: center;
  /*------*/
  position: fixed;
  top: 0;
  z-index: 1000;
  /*------*/
}

.hamburger-menu {
  display: none;
}

.logo {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px 0px #202124;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 40px;
  font-size: medium;
}

nav .imagen-logo {
  display: flex;
  align-items: center;
  padding: 0;
}

nav .inicio:hover {
  background-color: #eb1249;
  border-radius: 30px;
}

nav .servicios:hover {
  background-color: #f2bb0e;
  border-radius: 30px;
}

nav .nosotros:hover {
  background-color: #1083cc;
  border-radius: 30px;
}

nav .contactos:hover {
  background-color: #41b93c;
  border-radius: 30px;
}

.lista-nav {
  list-style: none;
  display: flex;
}

.lista-nav li {
  transition: transform 0.3s ease-in-out;
}

main {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 80px;
}

.banner-imagen {
  margin-top: 10px;
  width: 100%;
}

/*--------------------------INICIO-----------------------------*/
#uno {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #202124;
}

article {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 5px;
  margin: 20px;
  box-shadow: 5px 5px 15px 5px #202124;
  background-color: #fff;
}

.segundo-contenedor-articulo {
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 5px #202124;
  margin: 10px;
}

.texto-articulo {
  margin: 5%;
  flex-direction: column;
}

/*----------------------------------------------------------------- */
#dos {
  color: #ffffff;
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.liderazgo {
  display: flex;
  flex-direction: row;
}

.publicidad {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: #202124;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 0px #202124;
}

.recomendacion {
  display: flex;
  flex-direction: row;
}

.imagen-liderazgo,
.imagen-publicidad,
.imagen-recomendacion {
  height: 400px;
  width: 400px;
  margin: 10px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #202124;
}

.imagen-liderazgo:hover,
.imagen-publicidad:hover,
.imagen-recomendacion:hover {
  transform: scale(1.1);
  z-index: 1;
}

.contenedor-liderazgo {
  display: flex;
  flex-direction: column;
}

.texto-liderazgo {
  margin: 20px;
  align-items: center;
}

.texto-publicidad {
  margin: 20px;
  display: flex;
  align-items: center;
}

.texto-recomendacion {
  margin: 20px;
  display: flex;
  align-items: center;
}

/*--------------------------SERVICIOS-----------------------------*/
#tres {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #202124;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.imagen-articulo {
  height: 700px;
  width: 50%;
  border-radius: 10px;
}

.articulos-servicios {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 30px 0px;
  justify-content: center;
  align-items: center;
}

.serv {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 5px;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px #202124;
  background-color: #fff;
}

.serv:hover {
  color: #ffffff;
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
}

.contenido-articulo {
  margin: 10px;
}

/*----------------------------------------------------------------- */

#cuatro {
  color: #ffffff;
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  display: block;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.question {
  font-size: 30px;
}

.sintoma {
  display: flex;
  text-align: justify;
  margin: 20px;
}

.sintoma ul {
  list-style: none;
  padding: 10px;
}

/*----------------------------------------------------------------- */
#cinco {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: #202124;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}


.aie {
  width: 500px;
  height: 150px;
  margin: 30px 5px; 
 
}
.alzo {
  width: 250px;
  height: 150px;
  margin: 30px 30px; 
}

.focus {
  width: 300px;
  height: 150px;
  margin: 20px 30px; 
}

.friday {
  width: 300px;
  height: 150px;
  margin: 5px 30px; 
}

.nueva {
  width: 300px;
  height: 100px;
  margin: 20px 30px; 
}

.red {
  width: 250px;
  height: 100px;
  margin: 10px 30px; 
}

.monarca {
  width: 300px;
  height: 100px;
  margin: 30px 30px; 
}

.nacion {
  width: 300px;
  height: 75px;
  margin: 5px 30px; 
}

.passo {
  width: 250px;
  height: 150px;
  margin: 30px 30px; 
}

.perfil {
  width: 200px;
  height: 150px;
  margin: 5px 30px; 
}

.puelche {
  width: 250px;
  height: 150px;
  margin: 5px 30px; 
}

.sport {
  width: 300px;
  height: 150px;
  margin: 5px 30px; 
}

.todo {
  width: 300px;
  height: 150px;
  margin: 5px 30px; 
}

/*----------------------------------------------------------------- */

#seis {
  display: block;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

.articulos-politicas {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
}

.pol {
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  color: #fff;
}

.contenido-politica {
  margin: 10px;
}

/*--------------------------NOSOTROS-----------------------------*/
#siete {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  color: #202124;
  padding: 0px 40px;
}

.card {
  height: 100%;
  text-align: center;
  width: 30%;
  border-radius: 50px;
  padding: 2px;
  margin: 10px 5px;
  background-image: linear-gradient(to bottom, #989898, #ffffff, #ffffff);
  box-shadow: 0px 10px 50px #202124;
  border: 1px solid #3c3c3c;
}

.card img {
  height: 250px;
  width: 250px;
  border-radius: 50px;
}

.card p {
  margin: 10px 20px;
  text-align: justify;
}

.contacto-personal {
  display: flex;
  justify-content: center;
}

.contacto-personal .redes li:nth-child(3) a:before {
  background: #0077b5;
}

/*----------------------------------------------------------------- */
#ocho {
  color: #ffffff;
  background: linear-gradient(to bottom, #202124, #3c3c3c, #262626);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
}

.elegir {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  box-shadow: 5px 5px 10px 0px #202124;
  align-self: center;
}

.eleccion {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  margin: 0px auto; /* Añadida para centrar horizontalmente */
}
.question {
  font-size: 30px;
}

.eleccion ul {
  padding: 0px 10px;
}

.eleccion li {
  list-style: none;
}

/*----------------------------------------------------------------- */

#nueve {
  color: #ffffff;
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mision {
  display: flex;
  flex-direction: row;
}

.vision {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: #202124;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 0px #202124;
  margin-top: 5px;
}

.valores {
  display: flex;
  flex-direction: row;
}

.imagen-mision,
.imagen-vision,
.imagen-valores {
  height: 300px;
  width: 300px;
  margin: 10px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #202124;
}

.imagen-mision:hover,
.imagen-vision:hover,
.imagen-valores:hover {
  transform: scale(1.1);
  z-index: 1;
}

.texto-mision {
  display: flex;
  align-items: center;
}
p.texto-vision {
  margin: 15px;
}
.texto-valores {
  display: flex;
  align-items: center;
}

.contenedor-vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------------------------FOOTER-----------------------------*/
footer {
  height: 100%;
  background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  color: #fff;
  text-align: center;
  display: block;
  padding: 0px 10px 0px;
  align-items: center;
}

.footer-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.contacto {
  display: flex;
  height: 100%;
  align-items: center;
}

.redes {
  display: flex;
  padding-right: 45px;
}

.redes li {
  list-style: none;
}

.redes li a {
  background-color: #202124;
  width: 45px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}

.redes li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
}

.redes li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.redes li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
}

.redes li a:hover:before {
  top: 0;
}

.redes li:nth-child(1) a:before {
  background: #41b93c;
}

.redes li:nth-child(2) a:before {
  background: #eedc55;
}

.redes li:nth-child(3) a:before {
  background: #7d258d;
}

.redes li:nth-child(4) a:before {
  background: #0077b5;
}

.redes li:nth-child(5) a:before {
  background: #eb1249;
}

.contacto .redes li a {
  background-color: #3c3c3c;
  width: 35px;
  height: 35px;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
}

.footer-text {
  font-size: 0.8em;
}

/*--------------------------TABLET-----------------------------*/
@media (max-width: 1229px) {
  nav {
    padding-right: 20px;
  }

  nav a {
    padding: 10px 40px;
  }

  .consejo-imagen {
    height: 250px;
    width: 250px;
    margin: 0px 15px;
  }

  header {
    padding: 10px 0;
  }

  .lista-nav {
    padding-top: 10px;
  }

  .liderazgo {
    flex-direction: column;
    align-items: center;
  }

  .publicidad {
    flex-direction: column;
    align-items: center;
  }

  .recomendacion {
    flex-direction: column;
    align-items: center;
  }
  
  .article {
    margin: 10px 0;
    width: 90%;
  }

  .articulos-servicios {
    width: 100%;
    flex-direction: column;
  }
  
  .imagen-articulo {
    width: 50%;
  }

  .serv {
    width: 75%;
  }
  /*--------------------------CINCO-------------------------------*/
  #cinco {
    height: auto;
    flex-direction: column;
    align-items: center;
  }



  /*-------------------------NOSOTROS-----------------------------*/
  /*--------------------------SIETE-------------------------------*/
  #siete {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 50%;
    margin-bottom: 10px;
  }

  .redes {
    padding-right: 0px;
  }

  .contacto-personal ul {
    padding: 0;
  }
}

/*--------------------------CELULAR-----------------------------*/
@media (max-width: 768px) {
  body {
    background-image: none;
  }

  .divisor-pagina {
    font-size: 25px;
  }

  .hamburger-menu {
    background-image: url(../src/img/hamburguesa.png);
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 60px;
    display: flex;
  }

  header {
    height: 0px;
    background: linear-gradient(to right, #202124, #3c3c3c, #262626);
  }

  nav {
    height: auto;
    background-color: #fff;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nav li {
    display: flex;
    width: 200px;
  }

  nav a {
    width: 100%;
  }

  .contenedor-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .imagen-logo {
    justify-content: center;
    margin-left: 50px;
  }

  .contenedor-logo .imagen-logo {
  }

  .lista-nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    width: 100%;
  }

  .lista-nav.show {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .lista-nav li {
    padding: 10px 0;
  }

  main {
    width: 100%;
    align-items: center;
  }

  /*--------------------------INICIO-----------------------------*/
  /*--------------------------UNO-------------------------------*/
  #uno {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  article {
    width: 90%;
    margin: 10px 0;
    flex-direction: column;
  }

  .cliente-imagen {
    margin: 0px 50px;
  }
  /*--------------------------DOS-------------------------------*/
  #dos {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .liderazgo {
    flex-direction: column;
    align-items: center;
  }

  .publicidad {
    flex-direction: column;
    align-items: center;
  }

  .recomendacion {
    flex-direction: column;
    align-items: center;
  }

  .imagen-liderazgo,
  .imagen-publicidad,
  .imagen-recomendacion {
    height: 300px;
    width: 300px;
  }

  /*--------------------------SERVICIOS-----------------------------*/
  /*--------------------------TRES-------------------------------*/
  #tres {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .article {
    margin: 10px 0;
    width: 90%;
  }

  .articulos-servicios {
    width: 100%;
    flex-direction: column;
  }

  .imagen-articulo {
    width: 85%;
  }

  .serv {
    width: 90%;
  }

  /*--------------------------CUATRO-------------------------------*/
  #cuatro {
    padding: 10px;
  }

  .sintoma {
    display: block;
    font-size: medium;
    align-items: center;
  }

  .sintoma ul {
    padding: 0px;
  }
  /*--------------------------CINCO-------------------------------*/
  #cinco {
  }

  .clientes {
  }

  .clientes img {
  }

  .aie {
    width: 300px;
    height: 150px;
  }
  .alzo {
  }

  .focus {
  }

  .friday {
  }

  .nueva {
  }

  .red {
  }

  .monarca {
  }

  .nacion {
  }

  .passo {
  }

  .perfil {
  }

  .puelche {
  }

  .sport {
  }

  .todo {
  }

  /*--------------------------NOSOTROS-----------------------------*/
  /*--------------------------SIETE-------------------------------*/
  #siete {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .redes {
    padding-right: 0px;
  }

  .contacto-personal ul {
    padding: 0;
  }
  /*--------------------------OCHO-----------------------------*/
  #ocho {
    flex-direction: column;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
  }

  .question {
    font-size: 25px;
  }

  .eleccion {
    display: block;
    align-items: center;
  }

  .elegir {
    width: 300px;
    height: 300px;
  }

  .eleccion ul {
    padding: 0;
  }

  .contacto ul {
    padding: 0;
  }

  .eleccion li {
    list-style: none;
  }

  section.eleccion ul hr {
    display: none;
  }

  section.eleccion ul li {
    margin-bottom: 10px;
  }
  /*--------------------------NUEVE-----------------------------*/
  #nueve {
  }

  .mision {
    flex-direction: column;
    align-items: center;
  }

  .vision {
    flex-direction: column;
    align-items: center;
  }

  .vision ul {
    padding: 0px 25px;
  }

  .valores {
    flex-direction: column;
    align-items: center;
  }

  .imagen-mision,
  .imagen-vision,
  .imagen-valores {
    height: 300px;
    width: 300px;
    margin: 0;
  }
  /*--------------------------FOOTER-----------------------------*/
  .red-social {
    margin-right: 10px;
  }
}
